openapi: '3.0.0'
info:
  version: 1.0.0
  title: FetchMedia API
  license:
    name: MIT
servers:
  - url: http://api.fetchmedia.io/v1
paths:
  /videos:
    get:
      summary: List all videos
      operationId: listVideos
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of videos
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Videos'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Fetch a video
      operationId: fetchVideo
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /videos/{videoId}:
    get:
      summary: Get video info
      operationId: getVideoById
      parameters:
        - name: videoId
          in: path
          required: true
          description: The id of the video to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Videos'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Video:
      required:
        - id
        - source
      properties:
        id:
          type: integer
          format: int64
        source:
          type: string
        status:
          type: string
    Videos:
      type: array
      items:
        $ref: '#/components/schemas/Video'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string